<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<div class="container-fluid">
  <div class="row" id="head">
    <div class="col-md-12">
      <h1>GITHUB SEARCH</h1>
    </div>
  </div>
  <div class="row">
      <div class="col-md-4 detail">
        <a routerLink='/home' routerLinkActive='active'>Home</a>
      </div>
      <div class="col-md-4 detail">
        <a routerLink='/profile' routerLinkActive='active'>Profile Search</a>
      </div>
      <div class="col-md-4 detail">
        <a routerLink='/repositories' routerLinkActive='active'>Repo Search</a>
      </div>
  </div>
  <div class="row" id="back">
    <div class="show">

    </div>
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <img width="50%" src="{{user.avatarimg}}" alt="Avatar">
      <p>{{user.user}}</p>
      <p>Created on {{user.date|date}} </p>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-3 detail">
      <h3>followers</h3>
      <p>{{user.followers|formatDate}}</p>
    </div>
    <div class="col-md-3 detail">
      <h3>following</h3>
      <p>{{user.following}}</p>
    </div>
    <div class="col-md-3 detail">
      <h3>Repositories</h3>
      <p>{{user.repoNo}}</p>
    </div>
    <div class="col-md-3 detail">
      <h3>Gists</h3>
      <p>{{user.gistNo}}</p>
    </div>
  </div>
</div>
